/* Stories & Map */

.main{
    grid-area: main_content;
    display: grid;
    grid-auto-columns: 1fr 2fr;
    grid-template-areas: "intro map";
    margin-left: 5%;
    margin-right: 5%;
}
/* Top Little Section*/
#intro{
    grid-area: "intro";
}

#mapTitle{
    font-family: 'Chivo', sans-serif;
    font-size: 43px;
    margin-top: 20%;
}
#blurb{
    font-family: 'Chivo', sans-serif;
    margin-top: 10px;
}
#buttons{
    justify-content: center;
}

#stats{
    margin-bottom: 20px;
}

#statsBox{
    background-color: #efefef;
    text-align: center;
    margin-right: 5%;
    margin-top: 30px;
    padding: 5%;
}

#the_map{
    grid-area: map;
    height:80vh;
    margin: 30px;
    margin-right: 0;
    border-radius: 25px;
}

/* #userStories{
    grid-area: stories;
    overflow: auto;
    height: 700px;
} */

/*
 margin: auto;
    padding-top: 3%;
    padding-bottom: 7px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: large;

    background-color: #efefef;
    text-align: center;
    margin: 30px 25%;
    padding-bottom: 20px;
*/